:root {
    --background: rgb(224, 234, 247);
    --header-background: white;
    --footer-background: rgb(243, 242, 242);
}

body {
    height: 100vh;
    font-family: 'Rubik', san-serif;
    background-color: lightblue;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

header {
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
}

main {
    padding: 20px;
}

footer {
    position: sticky;
    bottom: 0;
    padding: 7px 20px;
    font-size: .8em;
    display: flex;
    justify-content: flex-end;
}

.score-display {
    width: 100%;
    padding: 25px;
    margin: 10px;
    text-align: center;
    background-color: lightslategray;
    border-radius: 15px;
    box-shadow: 10px 10px 26px 1px rgba(0,0,0,0.64);
}

.player-stats {
    height: 200px;
    width: 300px;
    padding: 25px;
    margin: 10px;
    text-align: center;
    border-radius: 15px;
    box-shadow: 10px 10px 26px 1px rgba(0,0,0,0.64);
}
.player-stats {
    background-color: lightcoral;
}

.game-body{
    display: flex;
    justify-content: space-around
}

.goblin {
    width: 300px;
    padding: 25px;
    margin: 10px;
    text-align: center;
    border-radius: 15px;
    box-shadow: 10px 10px 26px 1px rgba(0,0,0,0.64);
    background-color: green;
    max-height: 100px;
}

.challenge {
    display: flex;
    justify-content: center;
    padding: 10px;
}

.player-avatar {
    zoom: 500%;
    position: relative;
    top: -15px;
}

.player-name {
    position: relative;
    top: -160px;
}

.slain-goblin {
    width: 300px;
    padding: 25px;
    margin: 10px;
    text-align: center;
    border-radius: 15px;
    box-shadow: 10px 10px 26px 1px rgba(0,0,0,0.64);
    background-color: rgb(78, 4, 198);
    max-height: 100px;
    pointer-events: none;
}